<% if post.errors.any? %>
  <div id="error_explanation">
    <b>エラーです</b>
    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>